--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
torchaudio==2.5.1+cpu
streamlit
pandas
numpy
scikit-learn
xgboost
lightgbm
matplotlib
seaborn
scipy
joblib
python-dotenv
openai>=1.0.0
shap
nbformat
Pillow
tqdm
ultralytics==8.2.50
opencv-python
pmdarima
prophet
